@import (reference) "../../common";

@base-avatar-size: 50px;
@base-padding: 10px;

//== Images
img.tp-twitch-stream__thumbnail {
    .img-reset-styles();
    .img-responsive();
}

img.tp-twitch-stream__avatar {
    .img-reset-styles();
    .img-responsive();
}

//== iFrames
.tp-twitch-iframe-container {
    position: relative;
    
    overflow: hidden;
    padding-top: 56.25%;
    
    & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        
        border: 0;
    }
}

//== Base Layout
.tp-twitch-stream {
    margin-bottom: 1em;
    padding: 10px;

    .box-shadow();
}

.tp-twitch-stream__header {
    margin-bottom: @base-padding;
}

.tp-twitch-stream__video {

}

.tp-twitch-stream__thumbnail {

}

.tp-twitch-stream__body {
    position: relative;

    min-height: @base-avatar-size;
    padding-left: (@base-avatar-size + @base-padding);

    font-size: @font-size-small;
    line-height: @font-line-height;
}

.tp-twitch-stream__user-avatar {
    position: absolute;
    top: 0;
    left: 0;

    img {
        max-width: @base-avatar-size;
    }
}

.tp-twitch-stream__title {
    display: block;

    font-size: @font-size;
    font-weight: bold;

    // Visually hide long titles
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tp-twitch-stream__user {
    display: block;
    margin-top: .4em;

    a {
        .link-hover-only();
    }

    .tp-twitch-icon-verified {
        margin-left: .5em;
    }
}

.tp-twitch-stream__game {
    display: block;
    margin-top: .2em;

    a {
        .link-hover-only();
    }
}

.tp-twitch-stream__footer {
    margin-top: .4em;

    font-size: @font-size-small;
    line-height: @font-line-height;
    text-align: right;

    & > span {
        margin-left: @base-padding;
    }
}

//== Live Streams
.tp-twitch-stream--live {
    
    .tp-twitch-stream__viewer {
        color: @color-twitch-red;
    }
    
    .tp-twitch-icon-viewer {
    
    }
}

//== Offline Streams
.tp-twitch-stream--offline {

    .tp-twitch-stream__footer {
        margin-top: -15px;
    }
}