@import (reference) "../../common";

//== Images
img.tp-twitch-stream__thumbnail {
    .img-reset-styles();
    .img-responsive();
}

img.tp-twitch-stream__avatar {
    .img-reset-styles();
    .img-responsive();
}

//== iFrames
.tp-twitch-iframe-container {
    position: relative;
    
    overflow: hidden;
    padding-top: 56.25%;
    
    & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        
        border: 0;
    }
}

// General
.tp-twitch-stream {
    margin-bottom: 1em;
}

.tp-twitch-stream__body {
    font-size: @font-size-small;
    line-height: @font-line-height;
}

.tp-twitch-stream__title {
    font-size: @font-size;
}

.tp-twitch-stream__user {
    
    a {
        .link-hover-only();
    }

    .tp-twitch-icon-verified {
        margin-left: .5em;
    }
}

.tp-twitch-stream__game {
    
    a {
        .link-hover-only();
    }
}

.tp-twitch-stream__footer {
    font-size: @font-size-small;
    line-height: @font-line-height;
}

.tp-twitch-stream__viewer {

}

//== Live Streams
.tp-twitch-stream--live {
    
    .tp-twitch-stream__viewer {
        color: @color-twitch-red;
    }
    
    .tp-twitch-icon-viewer {
    
    }
    
}

//== Styles
.style-standard() {
    padding: 10px;
    
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

//== Base Layout Mixin
.base-layout( @avatar-size, @spacing ) {

    .tp-twitch-stream {
        .style-standard();
    }

    .tp-twitch-stream__header {

    }

    .tp-twitch-stream__video {

    }

    .tp-twitch-stream__thumbnail {

    }

    .tp-twitch-stream__body {
        position: relative;

        margin-top: @spacing;
        padding-left: (@avatar-size + @spacing);
    }

    .tp-twitch-stream__user-avatar {
        position: absolute;
        top: 0;
        left: 0;

        img {
            max-width: @avatar-size;
        }
    }

    .tp-twitch-stream__title {
        display: block;

        font-weight: bold;

        // Visually hide long titles
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .tp-twitch-stream__user {
        display: block;
        margin-top: .4em;
    }

    .tp-twitch-stream__game {
        display: block;
        margin-top: .2em;
    }

    .tp-twitch-stream__footer {
        margin-top: .4em;

        text-align: right;

        & > span {
            margin-left: @spacing;
        }
    }
}